<div class="disclaimer" data-survey-target="disclaimer">
  <h2>Please Read</h2>
  <p>This application has been developed solely for educational and informational purposes. The data used in this application has been collected from <%= link_to 'The American Kennel Club', 'https://www.akc.org/' %> and is not owned or controlled by the application developer.</p>

  <p>Please note that the application developer does not derive any profit or financial gain from the data used in this application. The data remains the property of its respective owners and is used solely for educational and informational purposes.</p>

  <p><b>By using this application, you acknowledge and agree to the above disclaimer.</b></p>
</div>