<div class="container">
  <div class="flex flex-wrapper flex-column">
    <% @suggested_dog_breeds.each do |dog| %>
      <div class="dog-card">
        <h1><%= dog.name %></h1>
      </div>
    <% end %>
  </div>
</div>